<div>
  <p *ngIf="!todoListArray?.length">
    Nenhuma tarefa definida.
  </p>
  <mat-card class="todoItem">
    <mat-card-actions layout="row" align="center">
        <button mat-button>
            <a [routerLink]="[ '/todo/']">
                <mat-icon>add</mat-icon> CREATE TODO
            </a>
        </button>
    </mat-card-actions>
  </mat-card>
  <ng-container *ngFor="let item of todoListArray; let itemIndex = index">
      <mat-card class="todoItem">
          <mat-card-header>
              <div mat-card-avatar>
              <span class="md-headline {{item.priority==1 ? 'high' : item.priority==2 ? 'medium' : 'low'}}">
                  <mat-icon>{{ item.priority==1 ? 'error' : item.priority==2 ? 'warning' : 'info'}}</mat-icon>
              </span>
              </div>
              <mat-card-title>
              {{item.title}}
              </mat-card-title>
              <mat-card-subtitle>Criado em {{item.creationDate}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions layout="row" align="end">
              <button mat-button>
                <a [routerLink]="[ '/todo', item.id]">
                  <mat-icon>edit</mat-icon>
                </a>
              </button>
              <button mat-button (click)="concludeTodo(itemIndex)" >
                  <mat-icon>{{ item.done ? 'delete' : 'check'}}</mat-icon>
              </button>
          </mat-card-actions>
      </mat-card>
  </ng-container>
</div>

<ngx-loading [show]="loading"></ngx-loading>
